@font-face {
  font-family: "iconfont"; /* Project id 3249957 */
  src: url('iconfont.woff2?t=1648623383405') format('woff2'),
       url('iconfont.woff?t=1648623383405') format('woff'),
       url('iconfont.ttf?t=1648623383405') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-renyuanguanli:before {
  content: "\e63c";
}

.icon-jiantou_shangxiaqiehuan:before {
  content: "\eb09";
}

